body {
  background-color: #e8e7e8;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #494949;
  
}

h1 {
  font-size: 28px;
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

a:hover,
a:focus {
  color:#5e5e5e;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* TABLES */
table {
  border: 1px solid white;
  font-size: 0.9em;
}

th.span_time, td.span_time, tr.cell_label td {
  background-color: #636567;
  color: white;
  border: 1px solid white;
  text-align: center;
}
tr.cell_label {
  background-color: #697277;
  color: white;
  border: 1px solid white;
  vertical-align: middle;
}


tr.rOdd th, tr.rOdd td, tr.rEven th, tr.rEven td, tr.cell_label td, td.span_time {
  text-align: center;
}

tr.rEven th, tr.rEven td {
  background-color: #697277;
  color: white;
  border: 1px solid white;
}

tr.rEven th.data, tr.rEven td.data {
  background-color: #dae2e8;
  color: black;
  border: 1px solid white;
}

tr.rOdd th, tr.rOdd td {
  background-color: #3b586a;
  color: white;
  border: 1px solid white;
}

tr.rOdd th.data, tr.rOdd td.data {
  background-color: #c4d8e3;
  color: black;
}

div.table_explanation {
  width: 620px;
  margin: auto;
  font-size: .8em;
  background-color: #eaf3f7;
}

p.table_exp_title {
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
  padding-left: 15px;
}

p.table_exp_body {
  padding-left: 15px;
  margin-top: 10px;
  padding-right: 15px;
}

p.table_exp_source {
  padding: 10px;
  word-break: break-all;
}

p.table_exp_source span {
  font-weight: bold;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

.indicadorTitulo {
  color: #EE8026;
  margin: 0;
}

.tituloHeader{
  color: #6D6E70;
  font-weight: lighter;
  /*margin-top: 15px;*/
  margin: 0;
}

.tituloHeader span {
  font-weight: bold;
}

#header {
  font-weight: lighter;
}

.headerContainer{
  padding: 10px 0 0 0;
  background-color: #fff;
}

#footer {
  background-color: #494949;
  color: #E5E5E5;
}

.footerContainer{
  background-color: #494949;
}

.headerTitle {
  padding-bottom: 15px;
}

.customNav {
  background-color: #494949;
  border: none;
  border-radius: 0;
  margin: 0;
}

.customNav .nav {
  padding-left: 0px;
}

.customNav .navbar-brand {
  color: #E5E5E5;
}
.customNav .navbar-brand:hover,
.customNav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.customNav .navbar-text {
  color: #E5E5E5;
}
.customNav .navbar-nav > li > a {
  color: #E5E5E5;
}
.customNav .navbar-nav > li > a:hover,
.customNav .navbar-nav > li > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}
.customNav .navbar-nav > .active > a,
.customNav .navbar-nav > .active > a:hover,
.customNav .navbar-nav > .active > a:focus {
  /*color: #555;*/
  background-color: #EE8026;
  /*border-bottom: 5px solid #F5C315;
  padding-bottom: 10px;*/
}
.customNav .navbar-nav > .disabled > a,
.customNav .navbar-nav > .disabled > a:hover,
.customNav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.customNav .navbar-toggle {
  border-color: #E5E5E5;
}
.customNav .navbar-toggle:hover,
.customNav .navbar-toggle:focus {
  background-color: #EE8026;
}
.customNav .navbar-toggle .icon-bar {
  background-color: #E5E5E5;
}
.customNav .navbar-collapse,
.customNav .navbar-form {
  border-color: #E5E5E5;
}
.customNav .navbar-nav > .open > a,
.customNav .navbar-nav > .open > a:hover,
.customNav .navbar-nav > .open > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}

.dropdown-menu {
  background-color: #494949;
  border-radius: 0;
  padding: 0;
}

.dropdown-menu > li > a {
  color: #E5E5E5;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}


.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #E5E5E5;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #E5E5E5;
  background-color: #EE8026;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
  color: #494949;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #EE8026;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-submenu {
  color: #C8C9C9;
  background-color: transparent;
  border: none;
}
.btn-submenu:hover,
.btn-submenu:focus,
.btn-submenu:active,
.btn-submenu.active,
.open .dropdown-toggle.btn-submenu {
  color: #494949;
  background-color: transparent;
  border: none;
}
.btn-submenu:active,
.btn-submenu.active,
.open .dropdown-toggle.btn-submenu {
  background-image: none;
}

.panel {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel-default {
  border: none;
  border-radius: 0;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border: none;
}

.panel-body-indicador {
  background-color: #f5f5f5;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
  border-radius: 0;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
  border-radius: 0;
}

.btn-default{
  border: none;
  border-radius: 0;
}

.reporteBtn {
  background-color: #F1983B;
  margin-bottom: 15px;
}

.vergraficaBtn {
  background-color: #D3DBE2;
  margin-bottom: 15px;
}

.colorTable thead tr th {
  background-color: #ddd;
}

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}


.mainContainer {
  margin-bottom: 5px;
  /*max-height: 500px;
  overflow: auto;*/
}

.customContent {
  background-color: #fff;
  padding: 30px;
}

.footerContent {
  padding: 30px;
}

.homecontentRow {
  background: url("../images/reporte_presentacion_fondo.png") #F7F6F4 no-repeat bottom right;
  margin: 0;
}

.headercontentRow {
  margin: 0 0 10px 0;
}

.coltituloHeader {
  padding: 15px 0 0 0;
}

.collogosHeader {
  padding-right: 0;
}

.colcdmxHeader {
  padding: 5px 0 0 0;
}

.indicadoreshomeRow {
  background-color: #FFF;
  margin: 15px 0 0 0;
}

.colIndicadoresHome {
  padding: 0;
}

.colReportesHome {
  padding-right: 0;
}

.contentRow {
  margin: 0;
}

.maincontentRow {
  margin: 30px 0 0 0;
}

.homeContent {
  padding: 0;
}

.headerContent {
  background-color: #fff;
  padding: 0;
}

.colPresentacion {
  padding-top: 80px;
  height: 414px;
  max-height: 414px;
  min-height: 200px;
}

.tituloPresentacion {
  font-size: 34px;
}

.articuloContainer {
  padding-left: 30px;
  padding-right: 30px;
}

.tableContainer {
  padding: 0 15px 0 15px;
}

.table-responsive {
  font-size: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table600 {
  margin: 0;
  max-width: 600px;
}

.table400 {
  margin: 0 auto 0 auto;
  max-width: 400px;
}

.table300 {
  margin: 0 auto 0 auto;
  max-width: 300px;
}

.defaultTable {
  margin: 0;
}

.commentsContainer {
  padding: 0 15px 0 15px;
}

.accordionContainer {
  padding: 0 15px 15px 15px;
  /*padding-bottom: 15px; */
}

.accordionPanel {
  border: 1px solid #ccc;
  border-radius: 0 !important;
}

.accordionPanelMain {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordionPanelHeading {
  /*background-color: #A7A9AB;*/
  border-radius: 0;
  /*height: 30px;*/
  /*padding-top: 5px;*/
}

.calendarContainer {
  border: none;
}

.agendaPanel{
  border-radius: 0;
  border: none;
  /*border-top: 5px solid #F59221;*/
}

.agendaPanelHeading {
  /*background-color: #ef3e36;*/
  background-color: #f69221;
  border-radius: 0;
  height: 30px;
  padding: 5px 5px 0 100px;
  color: #fff;
}

/*@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}*/

.pieGOBDF {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .customNav .nav {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .tableContainer {
    padding: 0;
  }
  .accordionContainer {
    padding: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .customNav .nav {
    padding-left: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .customNav .nav {
    padding-left: 14px;
  }

  .calendarContainer .row .col-md-9 {
    padding-right: 0px;
  }

/*  .calendarContainer .row .col-md-3 {
    padding-left: 0px;
  }*/
}

@media (min-width: 1200px) {
  .calendarContainer .row .col-md-9 {
    padding-right: 0px;
  }

/*  .calendarContainer .row .col-md-3 {
    padding-left: 0px;
  } */
}

/*.mesAgenda {
  text-align: center;
  vertical-align: middle;
}*/
